.dino {
  width: 60px;
  height: 60px;
  background: green;
  position: absolute;/*elemento ficara na posicao definida independente do que
  tiver em volta*/
  bottom: 0;
}

.catus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
  background: red;
}